.wp-block-hms-innerblocks:not(.has-white-background-color) .editor-block-list__empty-block-inserter .editor-inserter__toggle:not(:hover),
.wp-block-hms-innerblocks:not(.has-white-background-color) .editor-default-block-appender .editor-inserter .editor-inserter__toggle:not(:hover) {
  color: #fff; }

.wp-block-hms-innerblocks:not(.has-white-background-color) .editor-rich-text__tinymce + .editor-rich-text__tinymce, .wp-block-hms-innerblocks:not(.has-white-background-color) .editor-rich-text__tinymce + .editor-rich-text__tinymce p {
  color: rgba(255, 255, 255, 0.7); }
.wp-block-cover-image:not(.has-white-overlay-color) .editor-block-list__block {
  color: #fff; }

.wp-block-cover-image:not(.has-white-overlay-color) .editor-block-list__empty-block-inserter .editor-inserter__toggle:not(:hover),
.wp-block-cover-image:not(.has-white-overlay-color) .editor-default-block-appender .editor-inserter .editor-inserter__toggle:not(:hover) {
  color: #fff; }

.wp-block-cover-image:not(.has-white-overlay-color) .editor-rich-text__tinymce + .editor-rich-text__tinymce, .wp-block-cover-image:not(.has-white-overlay-color) .editor-rich-text__tinymce + .editor-rich-text__tinymce p {
  color: rgba(255, 255, 255, 0.7); }
.wp-block-hms-innerblocks-cta:not(.has-white-background-color) .editor-block-list__block {
  color: inherit; }

.wp-block-hms-innerblocks-cta:not(.has-white-background-color) .editor-block-list__empty-block-inserter .editor-inserter__toggle:not(:hover),
.wp-block-hms-innerblocks-cta:not(.has-white-background-color) .editor-default-block-appender .editor-inserter .editor-inserter__toggle:not(:hover) {
  color: #fff; }

.wp-block-hms-innerblocks-cta:not(.has-white-background-color) .editor-rich-text__tinymce + .editor-rich-text__tinymce, .wp-block-hms-innerblocks-cta:not(.has-white-background-color) .editor-rich-text__tinymce + .editor-rich-text__tinymce p {
  color: rgba(255, 255, 255, 0.7); }

.wp-block-hms-innerblocks-cta .editor-block-list__block {
  color: inherit; }
.editor-block-list__block-edit .hms-toggle-wrapper {
  overflow: visible; }

.editor-block-list__block-edit .hms-toggle-content {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 0; }
.wp-block-hms-offset-columns.wp-block-columns .wp-block-columnnth-child(odd), .wp-block-hms-offset-columns.wp-block-columns .wp-block-columnnth-child(even) {
  max-width: 100%; }

.wp-block-hms-offset-columns.wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"] {
  width: auto;
  max-width: 100%; }

.wp-block-hms-offset-columns.wp-block-columns .wp-block-columnnth-child(odd), .wp-block-hms-offset-columns.wp-block-columns .wp-block-columnnth-child(even) {
  max-width: 100% !important;
  width: 100%; }

.wp-block-hms-offset-columns.wp-block-columns .wp-block-column:nth-child(2n+1) {
  max-width: 100%;
  width: 100%; }
