.hms-custom-post-feed:not(.is-grid) {
  margin-left: 0; }
  .hms-custom-post-feed:not(.is-grid) li {
    display: block; }
    .hms-custom-post-feed:not(.is-grid) li img {
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-right: 6px; }

.hms-custom-post-feed.is-grid {
  margin-left: 0; }
  .hms-custom-post-feed.is-grid li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
    background-color: #eee;
    -ms-flex-direction: column;
        flex-direction: column; }
    .hms-custom-post-feed.is-grid li img {
      display: block;
      width: 100%; }
