@media screen and (min-width: 1em) {
  .wp-block-hms-innerblocks {
    margin-bottom: 1em;
    padding: 1em; }
    .wp-block-hms-innerblocks h1, .wp-block-hms-innerblocks h2, .wp-block-hms-innerblocks h3, .wp-block-hms-innerblocks h4, .wp-block-hms-innerblocks h5, .wp-block-hms-innerblocks h6 {
      font-weight: 600;
      color: unset; }
    .wp-block-hms-innerblocks .layout-inner {
      padding-bottom: 0.5em; }
    .wp-block-hms-innerblocks .layout-inner:last-child {
      margin-bottom: 0;
      padding-bottom: 0; } }

@media screen and (min-width: 48em) {
  .wp-block-hms-innerblocks {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; } }

@media screen and (min-width: 60em) {
  .wp-block-hms-innerblocks {
    padding: 2em; } }
.wp-block-hms-innerblocks-cta {
  padding: 1em; }
  .wp-block-hms-innerblocks-cta h1, .wp-block-hms-innerblocks-cta h2, .wp-block-hms-innerblocks-cta h3, .wp-block-hms-innerblocks-cta h4, .wp-block-hms-innerblocks-cta h5, .wp-block-hms-innerblocks-cta h6 {
    color: unset;
    font-weight: 600; }
  .wp-block-hms-innerblocks-cta .layout-inner {
    max-width: 600px; }
  .wp-block-hms-innerblocks-cta .layout-inner:last-child {
    margin-bottom: 0 !important; }

@media screen and (min-width: 1em) {
  .wp-block-hms-innerblocks-cta {
    padding: 1em;
    margin-bottom: 1em; } }

@media screen and (min-width: 48em) {
  .wp-block-hms-innerblocks-cta {
    padding: 1em;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; } }

@media screen and (min-width: 60em) {
  .wp-block-hms-innerblocks-cta {
    padding: 2em; } }
.wp-block-hms-image-tile .tile-heading {
  position: relative;
  z-index: 1;
  margin-bottom: .2em; }
  .wp-block-hms-image-tile .tile-heading h1, .wp-block-hms-image-tile .tile-heading h2, .wp-block-hms-image-tile .tile-heading h3, .wp-block-hms-image-tile .tile-heading h4, .wp-block-hms-image-tile .tile-heading h5, .wp-block-hms-image-tile .tile-heading h6 {
    z-index: 25;
    color: #ffffff;
    font-size: unset;
    font-size: 1.4em;
    font-weight: 600;
    padding: 0;
    position: absolute;
    bottom: .5em;
    left: .25em; }

.wp-block-hms-image-tile .inner-content {
  margin: 0;
  padding: 0; }

.wp-block-hms-image-tile p:last-child {
  margin-bottom: 0; }

.wp-block-hms-image-tile figure {
  margin: 0;
  width: 100%; }
  .wp-block-hms-image-tile figure::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.9) 100%);
    pointer-events: none; }
  .wp-block-hms-image-tile figure:has(+ a):hover::after, .wp-block-hms-image-tile figure:has(+ a):focus::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.9) 100%); }
  .wp-block-hms-image-tile figure img {
    display: block;
    width: 100%;
    z-index: 1; }

.wp-block-hms-image-tile figcaption {
  margin: .5em .25em;
  text-align: left;
  font-style: italic;
  float: left;
  width: 100%; }

.editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h1, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h2, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h3, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h4, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h5, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h6 {
  color: inherit;
  position: relative; }

@media screen and (min-width: 1em) {
  .wp-block-hms-image-tile p {
    font-size: 1em;
    line-height: 1.2em;
    padding: 0.5em; } }

@media screen and (min-width: 48em) {
  .wp-block-hms-image-tile p {
    font-size: .8em;
    line-height: 1.2em;
    padding: 0.5em; } }
.hms-toggle-content,
.hms-toggle-expander,
.hms-toggle-wrapper,
.toggle-all span {
  transition: all 0.22s linear; }

.hms-toggle-expander {
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  position: relative; }
  .hms-toggle-expander .toggle-title {
    font-size: 1.4em;
    margin-bottom: 0;
    padding-bottom: 0; }
    .hms-toggle-expander .toggle-title::before {
      content: "+";
      font-size: inherit;
      margin-right: .5em; }
  .hms-toggle-expander.active .toggle-title::before {
    content: "-"; }

/* the magic */
.hms-toggle-wrapper {
  width: 100%;
  overflow: hidden; }

.hms-toggle-content {
  margin-top: -3000px;
  transition: all 0.5s; }

.hms-toggle-wrapper.open .hms-toggle-content {
  margin-top: 0; }
  .hms-toggle-wrapper.open .hms-toggle-content p:last-child {
    margin-bottom: 0; }

@media screen and (min-width: 1em) {
  .wp-block-hms-toggleblock {
    margin-bottom: 1em !important; }
  .hms-toggle-expander .toggle-title {
    font-size: 1.4em; } }

@media screen and (min-width: 48em) {
  .hms-toggle-expander .toggle-title {
    font-size: 1.8em; } }

@media screen and (min-width: 60em) {
  .hms-toggle-expander .toggle-title {
    font-size: 2em; } }
@media screen and (min-width: 48em) {
  .wp-block-hms-offset-columns.wp-block-columns {
    display: -ms-flexbox;
    display: flex; }
    .wp-block-hms-offset-columns.wp-block-columns.has-reverse {
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
    .wp-block-hms-offset-columns.wp-block-columns .wp-block-column {
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
      width: 100%; }
      .wp-block-hms-offset-columns.wp-block-columns .wp-block-column:nth-child(odd) {
        max-width: calc(60% - .5em);
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
      .wp-block-hms-offset-columns.wp-block-columns .wp-block-column:nth-child(even) {
        max-width: calc(40% - .5em);
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }
.hms-custom-post-feed:not(.is-grid) {
  margin-left: 0; }
  .hms-custom-post-feed:not(.is-grid) li {
    display: block; }
    .hms-custom-post-feed:not(.is-grid) li img {
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-right: 6px; }

.hms-custom-post-feed.is-grid {
  margin-left: 0; }
  .hms-custom-post-feed.is-grid li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
    background-color: #eee;
    -ms-flex-direction: column;
        flex-direction: column; }
    .hms-custom-post-feed.is-grid li img {
      display: block;
      width: 100%; }
.hms-custom-post-feed:not(.is-grid) {
  margin-left: 0; }
  .hms-custom-post-feed:not(.is-grid) li {
    display: block; }
    .hms-custom-post-feed:not(.is-grid) li img {
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-right: 6px; }

.hms-custom-post-feed.is-grid {
  margin-left: 0; }
  .hms-custom-post-feed.is-grid li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
    background-color: #eee;
    -ms-flex-direction: column;
        flex-direction: column; }
    .hms-custom-post-feed.is-grid li img {
      display: block;
      width: 100%; }
